on init
    exec -- /system/bin/logwrapper /system/bin/sh /system/etc/init.sh

service network_start /sbin/network_start.sh
    user root
    seclabel u:r:recovery:s0
    oneshot

service console /bin/sh
    class core
    console
#    disabled
#    user shell
    group shell log
    seclabel u:r:shell:s0

on property:ro.debuggable=1
    start console
